<link rel="site.standard.publication" href="at://{{ .Site.Params.standardSiteDID }}/site.standard.publication/{{ .Site.Params.standardSitePublication }}">
{{- if and (eq .Section "posts") .IsPage (not .Params.externalLink) }}
<link rel="site.standard.document" href="at://{{ .Site.Params.standardSiteDID }}/site.standard.document/{{ .File.ContentBaseName }}">
{{- end }}
<link rel="icon" href="/images/icon.svg" type="image/svg+xml">
<link rel="preload" href="/fonts/manuale-latin.woff2" as="font" type="font/woff2" crossorigin>
