@media only screen and (min-width: 769px) {
  .list ul:not(.pagination) li {
    display: grid;
    grid-template-columns: 20rem 1fr;
    align-items: start;
    column-gap: 1.5rem;
    padding-bottom: 0.8rem;
  }

  .list ul:not(.pagination) li .date {
    margin-right: 0;
    padding-top: 0.2rem;
  }
}

.title-group {
  display: flex;
  flex-direction: column;
}

.link-tags {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
  opacity: 0.6;
}

.link-tags a {
  color: inherit;
  text-decoration: none;
  margin-right: 0.6rem;
}

.link-tags:hover {
  opacity: 1;
}

.link-tags a:hover {
  text-decoration: underline;
}
